{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

{% block body_block %}
    <div id="backgroundImg"></div>
    </div>
    
    <div class="container" id="AboutUsSlide">
        <h1>About us</h1>
        <p >Our goal is to create a website to provide the students of Glasgow University with a platform where they can swap games, books, movies, clothes and other services by contacting other students. </p>
    </div>
    <div class="container" id="submitForm">
        <h1>Contact us</h1>
        <form action="" id="contactForm">
            <input type="text" placeholder="Name Lastname"><br>
            <input type="text" placeholder="email"> <br>
            <textarea id="textArea" name="" cols="45" rows="10" placeholder="Tell us What's up"></textarea><br>
            <button id="contactButton">submit</button>
        </form>
    </div>
{% endblock %}