{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

{% block body_block %}
    <div id="aboutBackground">
    
    
    <div class="container" id="AboutUsSlide">
        <h1>About us</h1>
        <p >Our goal is to create a website to provide the students of Glasgow University with a platform where they can swap games, books, movies, clothes and other services by contacting other students. 
            We are second year computer science students just wanting to help some students unload some of their extra clutter around your student flat
        </p>
    </div>
    <div class="container" id="contactForm">
        <h1>Contact us</h1>

        <form action="{% url 'glasmarket:review' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
                {{ field.errors }}
                {{ field }}<br>
            {% endfor %}
            
        <button type="submit" id ="contactButton" value="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}