<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>
        <title>
            
            Glasmarket - 
            {% block title_block %}
                Home
            {% endblock %}
            
        </title>
        <link id="topLogo" rel="shortcut icon" href="{% static 'images/logo.png' %}" />
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


        <script src="{% static 'js/glasmarket.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
        <script src="{% static 'js/modals.js' %}" crossorigin="anonymous"></script>
        
    </head>
    <body>
        

        <header>

            <a id="headerBranding" href="{% url 'glasmarket:index' %}"><img id="headerLogo" src="{% static 'images/logo.png' %}" alt=""></a><a id="headerBranding" href="{% url 'glasmarket:market' %}"><h1 class="g" id="headerName">GU</h1><h1 id="headerName">MARKET</h1></a>

        
            <nav id="navItems">
        
                <ul>
                    {% for navItem in navBar %}
                    
                        {% if navItem == active %}
                            
                            {% if navItem == 'market' %}
                                <li><a id="highlight" href="/glasmarket/{{navItem}}/">{{navItem}}</a></li>
                            {% elif navItem == 'login' %}
                                {% if user.is_authenticated %}  
                                    <li><a id="highlight" href="{% url 'glasmarket:profilePage' user.username %}">{{ user.username }}</a></li>
                                {% else %}
                                    <li><a id="highlight" href="/glasmarket/{{navItem}}">{{navItem}}</a></li>
                                {% endif %}
                            {% else %}
                                <li><a id="highlight" href="/glasmarket/{{navItem}}">{{navItem}}</a></li>
                            {% endif %}

                        {% else %}
                            
                            {% if navItem == 'market' %}
                                <li><a href="/glasmarket/{{navItem}}/">{{navItem}}</a></li>
                            {% elif navItem == 'login' %}
                                {% if user.is_authenticated %}  
                                    <li><a href="{% url 'glasmarket:profilePage' user.username %}">{{ user.username }}</a></li>
                                {% else %}
                                    <li><a href="/glasmarket/{{navItem}}">{{navItem}}</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="/glasmarket/{{navItem}}">{{navItem}}</a></li>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </ul>
        
            </nav>
        </header>
        
        {% block body_block %}
        {% endblock %}
    </body>
    <footer>
        
        <ul id="bottomNav">
            
            {% for navItem in navBar %}
                {% if navItem == 'market' %}
                    <li><a href="/glasmarket/{{navItem}}/">{{navItem}}</a></li>
                {% elif navItem == 'login' %}
                    {% if user.is_authenticated %}  
                        <li><a href="{% url 'glasmarket:profilePage' user.username %}">{{ user.username }}</a></li>
                    {% else %}
                        <li><a href="/glasmarket/{{navItem}}">{{navItem}}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="/glasmarket/{{navItem}}">{{navItem}}</a></li>
                {% endif %}
                    
            {% endfor %}
        </ul>

        
        <h4 id="footerName">Glasmarket<img id="footerLogo" src="{% static 'images/logo.png' %}" alt=""></h4>
        

    </footer>
</html>