{% extends 'glasmarket/marketplace.html' %}

{% load staticfiles %}

{% block products_block %}

<div id="productsDisplay">
    {% if category %}

        <h1>{{ category.name }}</h1>
        {% if listings %}
        {% for listing in listings %}

        <div class="product">
            <div class="image" >
                {% if listing.picture != '0' %}
                    <img src="{{ MEDIA_URL }}{{ listing.picture }}" class="myImg">
                {% else %}
                    <img src="{% static 'images/noImage.jpg' %}" class="myImg">
                {% endif %}
            </div>

            <div id="info">
                <h1>{{ listing.name }}</h1>
                <h3>£{{ listing.price }}</h3>
            <a href="{% url 'glasmarket:profilePage' listing.seller %}">go to seller</a>
            <div class="description">
                <p >{{ listing.description }}</p>
            </div>
        </div>

    </div>
    {% endfor %}
        {% else %}
        <h2 id="noListings">no listings in the category</h2>
        {% endif %}
    {% else %}
    <strong>the category does not exist</strong>
    {% endif %}
</div>
<div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
            </div>
{% endblock %}