{% extends 'glasmarket/marketplace.html' %}
{% load staticfiles %}

{% block products_block %}

<div id="productsDisplay">
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if listings %}
        {% for listing in listings %}
        <div class="product">
            <div class="image">
                <img src="{{ MEDIA_URL }}{{ listing.picture }}" >
            </div>
        <div id="info">
            <h1>{{ listing.name }}</h1>
            <h3>{{ listing.price }}£</h3>
            <a href="/glasmarket/profilePage/{{ listing.seller }}">{{ listing.seller }}</a>
        </div>

        <div class="description">
            
            <p>{{ listing.description }}</p>
            
        </div>
    </div>
    {% endfor %}
        {% else %}
        <strong>no listings in the category</strong>
        {% endif %}
    {% else %}
    <strong>the category does not exist</strong>
    {% endif %}
</div>
{% endblock %}