{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Edit info     
{% endblock %}

{% block body_block %}

<div id="backgroundImg">

    <div id="editInfo">
        <form method="post" id="editForm" enctype="multipart/form-data">
            <h1>Edit your contact info</h1>
            {% csrf_token %}
            
            <input type="file" name="profilePic" accept="image/*" id="profileImage"><br>
            <input type="url" name="facebook" placeholder="facebook link"><br>
            <input type="text" name="phoneNumber" placeholder="phone number"><br>


            <input type="submit" value="edit" placeholder="change info" id="editSubmit"><br>
        </form>

    </div>
</div>

{% endblock %}