

{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
    <div id="homePage">
        <div id="backgroundImg">
            <h1 id="welcomeText">Welcome to GU-MARKET</h1>
            <img id="homeLogo" src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div id="welcomeSlide">
            <ul>
                <li id="marketP"><a href="/glasmarket/market/all"><h2>Visit the marketplace</h2><p>We have a range array of stuff</p></a></li>
                {% if not user.is_authenticated %}
                    <li id="postP"><a href="/glasmarket/login/"><h2>Register/Log in</h2><p>Not looking for anything? Somebody else is and we're sure you have exactly what they're looking for.</p></a></li>
                {% else %}
                    <li id="postP"><a href="/glasmarket/profilePage/{{ user.username }}">
                        {% if user.is_authenticated %}
                            <h2>go to profile</h2>
                        {% else %}
                            <h2>Register/Log in</h2>
                        {% endif %}
                        <p>Not looking for anything? Somebody else is and we're sure you have exactly what they're looking for.</p></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}