

{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
    <div id="backgroundImg">
    </div>
    <div id="welcomeSlide">
        <h1>Welcome to GlasMarket!</h1>
        <ul>
            <li id="marketP"><a href=""><h2>Visit the marketplace</h2><p>We have a range array of stuff</p></a></li>
            <li id="postP"><a href=""><h2>Post something yourself</h2><p>Not looking for anyhting? Somebody else is and we're sure you have exactly what theyre looking for, and you don't need it anymore</p></a></li>
        </ul>
    </div>
{% endblock %}