{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if user.is_authenticated %}
    {{ user.username }}
{% else %}
    Profile
{% endif %}

{% endblock %}

{% block body_block %}
<div id="backgroundLogIn"></div>
        <div id="box">
            {% if user.is_authenticated %} 
            {{ user.username }}
            
            <a href="/glasmarket/logout">logout</a>
            {% else %} 
            <div id="userAvatar">
                <img src="UserOrange.png" alt="UserOrangeUser">
            </div>    
            <div id="divLogin">
                <h1>Login</h1>
                
                <form id="login_form" method="post" >
                <div id="inputLog">
                    {% csrf_token %}
                    {% if attempt %}
                    <input id="errordisplay" type="text" name="username" value="" size="50" placeholder={{message}} ><br>
                    <input id="errordisplay" type="password" name="password" value="" size="50" placeholder={{message}} ><br>
                    {% else %}
                    <input type="text" name="username" value="" size="50" placeholder="username"><br>
                    <input type="password" name="password" value="" size="50" placeholder="password"><br>
                    {% endif %}
                    
                    <div id="loginButton">
                    <input type="submit" value="login" placeholder="login">
                    </div>
                
                </form>
                </div>

                <a href="/glasmarket/register">Don't have an account? Register</a>
                
            
                </div>
            
        </div>
</div>

    {% endif %}



{% endblock %}