{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
        Login
{% endblock %}

{% block body_block %}
<div id="backgroundLogIn"></div>
        <div id="box">

                <div id="info">

                        <form id="login_form" method="post" action="{% url 'glasmarket:logIn' %}">
                                {% csrf_token %}
                                Username: <input type="text" name="username" value="" size="50" />
                                <br /> 
                                Password: <input type="password" name="password" value="" size="50" />
                                <br /> 
                                <input type="submit" value="submit" /> 
                        </form>


                
                        <div id="notRegisteredSlide">

                                <ul>
                                        <li id="Register"><a href="/glasmarket/register/"><h2>Register</h2><p> Don't have an account?</p></a></li>
                                </ul>
                            </div>

                </div>


</div>



{% endblock %}