{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if user.is_authenticated %}
    {{ user.username }}
{% else %}
    Profile
{% endif %}

{% endblock %}

{% block body_block %}
<div id="backgroundLogIn">
        

    <div id="box">
        {% if user.is_authenticated %} 
        {{ user.username }}
        
        <a href="/glasmarket/logout">logout</a>
        {% else %} 
   
        

        
            <div id="divLogin">
                <img id="userAvatar" src="{% static 'images/UserOrange.png' %}" alt="UserOrangeUser"><br>
                <h1 id="loginHeader">Login</h1>
                
                    <form id="login_form" method="post" >
                    <div id="inputLog">
                        {% csrf_token %}
                        <input type="text" name="username" value="" size="50" placeholder="username"><br>
                        <input type="password" name="password" value="" size="50" placeholder="password"><br>

                
                        
                        <input type="submit" value="login" placeholder="login" id="but">
                        
                
                    </form>
                    </div>
                <br>
                <a href="/glasmarket/register">Don't have an account? Register</a>
                
            
            </div>
            
    </div>  
</div>

  

    {% endif %}



{% endblock %}