{% extends 'glasmarket/base.html' %}
{% load staticfiles}

{% block title_block %}
Market 
{% endblock %}
{% block body_block %}
<div id="market">

    <div id="categoryBlock">
        <h1>Categories </h1>
        <ul>
        {% if currentCategory == "all" %}
            <li id="currentC"><a href="/glasmarket/market/all">All Items</a></li>
        {% else %}
            <li id="nonCurrentC"><a href="/glasmarket/market/all">All Items</a></li>
        {% endif %}
        {% for category in categories %}
            {% if category.name == currentCategory %}
                <li id="currentC"> <a href="/glasmarket/market/{{ category.slug }}">{{ category.name }}</a></li>
            {% else %}
                <li id="nonCurrentC"><a href="/glasmarket/market/{{ category.slug }}">{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>

    <div id="productsBlock">
        <div id="productsHeader">
            <form action="/glasmarket/market/{{ currentCategory }}/" method="POST">
                {% csrf_token %}
        
                {% for field in form %}
                    <input type="{{ field.label }}" name="{{ field.name }}" id="{{ field.name }}" placeholder="{{ field.help_text }}">
                {% endfor %}
                <button type ="submit" value="submit" id="searchButton">Search</button>
            </form>
        
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Sort by ▼</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/glasmarket/market/{{ currentCategory }}/lowHigh">Price (low-high)</a>
                  <a href="/glasmarket/market/{{ currentCategory }}/highLow">Price (high-low)</a>
                  <a href="/glasmarket/market/{{ currentCategory }}/newest">Newest</a>
                  <a href="/glasmarket/market/{{ currentCategory }}/oldest">Oldest</a>
                </div>
              </div> 
        </div>
            {% block products_block %}
            {% endblock %}

    </div>
</div>
{% endblock %}
