
{% extends 'glasmarket/base_password.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<div id="backgroundLogIn">
    <div id="box">



            <div id="divLogin">
                <img id="userAvatarReset" src="{% static 'images/finalProfile.png' %}" alt="UserOrangeUser"><br>

                <h1 id="loginHeader">Reset Password</h1>

                <form method="POST" class="form-signin">{% csrf_token %}

                    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">

                    <input type="submit" value="Send reset email" placeholder="Send reset email" id="but"><br>

                    </div>

            </div>


    </form>
</div>
{% endblock %}