{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block body_block %}


 


<div id="backgroundLogIn">

        

 

    <div id="box">


        <a href="/glasmarket/logout">logout</a>


 

            <div id="divLogin">

                <img id="userAvatar" src="{% static 'images/UserGreen.png' %}" alt="UserOrangeUser"><br>

                <h1 id="loginHeader">Reset Password</h1>

                
                <form method="POST" class="form-signin">{% csrf_token %}
                   
                    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
                      
                    <input type="submit" value="Send reset email" placeholder="Send reset email" id="but"><br>
                    
                    </div>


            </div>


    </form>

{% endblock %}



