{% extends 'glasmarket/base.html' %}
{% load staticfiles %}


{% block title_block %}
{% if user.is_authenticated %}
    {{ user.username }}
{% else %}
    Profile
{% endif %}

{% endblock %}

{% block body_block %}

    {% if user.is_superuser %}
        you are an admin 
        <a href="/glasmarket/logout">logout</a>
    {% else %}
    <div id="userPage">

        <div id="picAndInfo">
            <img src="{{ MEDIA_URL }}{{ profile.picture }}" alt="userPicture"><br>
            {{ pageUser.username }}<br>
            email:  {{ pageUser.email }}<br>
            phone number:  {{ profile.phone }}<br>
            facebook page:  {{ profile.facebook }}<br>
            {% if user.username ==  pageUser.username %} 
                <a href="/glasmarket/logout">logout</a>
            {% endif %}
        </div>

        <div id="userListings">
            {% if user.username == userPage.username %}
                <h1>Your listings </h1><a href="/glasmarket/profilePage/{{ pageUser.username }}/addListing">add listing</a>
            {% else %}
                <h1>{{ pageUser.username }}'s listings</h1>
            {% endif %}
            {% if listings %}
                {% for listing in listings %}
                    
                    <div class="product">
                        <div class="image">
                            <img src="{{ MEDIA_URL }}{{ listing.picture }}" >
                        </div>
                    
                        <div id="info">
                            <h1>{{ listing.name }}</h1>
                            <h3>{{ listing.price }}£</h3>
                            <a href="">{{ listing.seller }}</a>
                            {% if user.username == pageUser.username %}
                                <a id="deleteListing" onclick="return getConfirmation('{{ listing.name }}')" href="{% url 'glasmarket:removeListing' usernm listing.id  %}">delete Listing</a>
                            {% endif %}
                        </div>

                        <div class="description">
                            <p>{{ listing.description }}</p>        
                        </div>
                    </div>

                {% endfor %}

            {% else %}
                <h3>sorry you dont have any Listings</h3>

            {% endif %}
        </div>
    </div>
    {% endif %}
    
{% endblock %}