{% extends 'glasmarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<div id="backgroundImg">
</div>


{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'glasmarket:profile' %}">Return to the homepage</a><br/>

{% else %}
<strong>Register here</strong><br/>
<form id="user_form" method="post" 
action="{% url 'glasmarket:register' %}" enctype="multipart/form-data">

    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}

    <input type="submit" name="submit" value="Register" />

</form>

{% endif %}
{% endblock %}