/*BASE*/
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; /*the height of each line in the whole body*/
    margin: 0;
    padding: 0;
    background-color: #e7e1e1;
    overflow:visible;
}
img{
    max-width:100%;
    max-height:100%
    }




.container { /*the container with the name and the navigation bar*/
    width: 85%;
    margin: auto; /*will set the everything to the middle*/
    overflow: hidden;
}


#grad {
    background-image: linear-gradient(to bottom right, white, white);
  }


/*Header items*/

header{
    background:black ;
    color: white;
    
    min-height: 70px; /*the minimum height so it can be resized*/
    border-bottom: purple 3px solid; /*the bottom border solid and thin*/
    font-weight: bold;
}

header nav {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-right: 2%;
}
header li {
    display: inline;
    margin: 10px;
}
header a{
    text-decoration: none;
    color: wheat;
    text-transform: uppercase; /*makes uppercase*/
    font-size: 20px;
}
header h1 {
    margin-top: 10px;
    padding-left: 5%;
    float: left;
    font-size: 30px;
}
#highlight {
    color: rgb(202, 0, 202);
}

/*footer items*/
footer h4{
    text-align: center;
    background-color: black;
    min-height: 50px;
    margin: 0;
}


/*home*/
#backgroundImg {
    background-image: url('../images/homeback.jpg');
    background-repeat: round;
    min-height: 500px;
    border-bottom: purple 3px solid;
}

#welcomeSlide {
    width: 85%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

#welcomeSlide h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
}

#welcomeSlide ul {
    list-style-type: none;
}
#welcomeSlide a{
    text-decoration: none;
    color: black;
}
#welcomeSlide a:hover{
    color: green;
}    
#marketP {
    float: left;
    width: 50%;
    text-align: center;
    
}

#postP{
    float: right;
    width: 50%;
    text-align: center;
}

